a:link 
{
  text-decoration: none;
}

.issueContainer 
{
	width: 100%;
	height: 110px;
	display: grid;
	grid-template-columns: 5% 100px 30px auto 5%;
	grid-template-rows: 5% 40px auto 5%;
	grid-column-gap: 5px;
	grid-row-gap: 5px;
	grid-template-areas:
		". . . . ."
		". issueImage issueNo issueTitle ."
		". issueImage issueDesc issueDesc ."
		". . . . .";
	
	-o-transition:.3s;
	-ms-transition:.3s;
	-moz-transition:.3s;
	-webkit-transition:.3s;
	transition:.3s;

    overflow:hidden;
    background-color:white;	
}
.issueContainer:hover 
{
  background: #f0f0f0;
}

#issueImage	
{
	object-fit: scale-down;
	max-height:100px;
	max-width:100px;
}

.issueImage	
{
	grid-area: issueImage;
	object-fit: scale-down;		
}

.issueTitle	
{
	grid-area: issueTitle;	
}

.issueNo	
{
	grid-area: issueNo;
	justify-self:center;
}

.issueDesc	
{
	grid-area: issueDesc;
	text-align: left;
    font-family: serif;
    font-size: .8em;
	margin:0px;
	overflow: hidden;
	background: -webkit-linear-gradient(#000000, #999999);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
}

.articleContainer {
    width: 100%;
    height: 60px;
    display: grid;
    grid-template-columns: 60px auto;
    grid-template-rows: 30px auto;
    grid-template-areas: 
        'articleImageArea articleTitleArea' 
        'articleImageArea articleAuthorArea';
    overflow: hidden;

    grid-column-gap: 12px;
    grid-row-gap: 2px;
    
}

.articleTitle {
    grid-area: articleTitleArea;
    text-align: left;
    font-family: serif;
    margin: 0px;
    overflow: hidden;
  
}

#articleImage {
    object-fit: scale-down;
    max-height: 60px;
    max-width: 60px;
}
.articleImage {
    grid-area: articleImageArea;
    object-fit: scale-down;   
    
}

.articleAuthor {
    grid-area: articleAuthorArea;
}




/* Dropdown Button */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdowncontent {
    position: absolute;   
    display: none;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 100%;
}

    .dropdowncontent a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}